body {
    background-image: url("heart.jpg");
    background-position: left center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-color: #464646;
    }
    #graph{ align-content:center; }